<!DOCTYPE html>
<html>
<head>
<title>Weather Station</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
body {
    background: #0000ff
}
</style>
</head>
<h1 style="text-align: center"><b><u>Weather Station</u></b></h1>




<div class="container">
    <div class="row">
        <div class="col-md-4 text-center border  border-info text-warning">
    <div class="weather-block rounded">
    <p class="weather-heading">Temperature</p>
    <p class="weather-item"><span class="weather-sub">{{ temp.celsius}}C &deg;</span></p>
    <p style="font-size:small">Last updated: {{ temp.recorded_at }}</p>
    <p style="font-size:small">{{ tcount }} readings taken</p>
</div>
</div>
        <div class="col-md-4 text-center border border-info text-info"><h3><u>humidity</u><p></p>
         <span class="weather-sub">{{ Humidity.rh}} %</span>
        </p><p style="font-size:small">Last updated: {{ temp.recorded_at }}</p>
        <p style="font-size:small">{{ tcount }} readings taken</p></div>
        
        <div class="col-md-4 text-center border border-info text-success"><h3><u>Pressure</u><p class="weather-item">
        {{ Pressure.bp}} </p>
        <p style="font-size:small">Last updated: {{ temp.recorded_at }}</p>
        <p style="font-size:small">{{ tcount }} readings taken</p>
        
</div>
    </div>
        

<div class="container">
    <div class="row">
        <div class="col-md-4 text-center border  border-info"><h3>[Northern Hemisphere]</h3></div>
        <div class="col-md-4 text-center border border-info"><h3>[How wet the air is]</h3></div>
        <div class="col-md-4 text-center border border-info"><h3>[Central Time Zone]</h3></div>
        
<div class="container">
    <div class="row">
        <div class="col-md-4 text-center border  border-info"><h3>[How many times the temperature was measured]</h3></div>
        <div class="col-md-4 text-center border border-info"><h3>[Number of times humidity was measured]</h3></div>
        <div class="col-md-4 text-center border border-info"><h3>[Total number of times the day was recorded]</h3></div>
</div>
    </div>

<div class="container-fluid">
<img src="https://www.nature.com/polopoly_fs/7.26031.1431440225!/image/reduced%20HIRES%2042-52427199.jpg_gen/derivatives/landscape_630/reduced%20HIRES%2042-52427199.jpg" class="rounded mx-auto d-block alt="thunder cloud" class="img-thumbnail">
​</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>